body{
    display: flex;
    background-image: url(/fotoes/back.png);
    background-size: cover;
    margin: 0;
    align-items: center;
    justify-content: center;
}
#welcdiv{
    text-align: center;
    margin-top: 17%;
    backdrop-filter: blur(20px);
    padding: 20px;

    border: 2px solid darkgreen;
    border-radius: 30px;
    width: fit-content;
}
#welc{
    font-size: 60px;
}
#thbest{
    font-size: 45px;
    font-style: italic;
}
#next{
    font-size: x-large;
    color: brown;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: black;
}
#next:hover{
    border-radius: 10px;
    background-color: darkgreen;
    backdrop-filter: none;
}