@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
body{
    margin: 0;
    background-color: black;
}
p{
    display: inline;
}
h1{
    display: inline;
    font-family: 'Dosis';
    font-weight:300;
    font-size: 60px;
    font-style: italic;
    margin-left: 4%;
}
form{
    font-size:30px ;
}
input{
    font-size: 25px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    border: 2px solid gray;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(47, 47, 47);
    margin-left: 67%;

}
a:hover{
    color: aqua;
}
::placeholder{
    font-style: italic;
}
#webname{
    font-size: 40px;
    margin-left: 3%;
    font-style: italic;
    color: aqua;
}
#fromme{
    margin-left: 70%;
    color: gray;
}
#upfile{
    color: gray;
    margin-left: 11%;
    font-style: italic;
}
#comment{
    height: 50px;
}
#inputdiv{
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(33, 33, 33);
    width: fit-content;
    padding: 20px;
    margin-left: 48%;
    box-shadow: -10px 10px aqua;
}