.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    align-items: center;
    gap: 10px;
    border:1px solid black;
    height: 300px;
    /* width: fit-content; */
  }
  
  .grid-item {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
  }
  