<h1>Login</h1>
<form action="/login" method="POST">
    <div>
      <label for="email">Email:</label>
      <input type="email" name="email" required autocomplete="email" />
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" required autocomplete="current-password"/>
    </div>
    <button type="submit">Login</button>
  </form>
<a href="/register">Register</a>
