*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: hsl(47, 88%, 63%);
}

#img img{
    border-radius:10px ;
    width: 400px;
}
#img{
    display: flex;
    width: 100%;
    justify-content: center;
}

#maincontent{
    padding: 30px;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
}
#lrn{
    padding: 15px ;
    background-color: hsl(47, 88%, 63%);
    width: fit-content;
    border-radius: 10px;
}
#texts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#texts p{
    padding: 10px 3px;
}

#bigtxt{
    color: gray;
}
#profile{
    display: flex;
    text-align: center;
    
}
#profile p {
    padding: 18px;
    font-size:1.1rem;
}