.shotaia2{
    width:15%;
}

pre{
    font-size: 2em;
}
.shotasback{
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Back{
    text-decoration-line: none;
    text-decoration: none;
}